# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# Jupyter
.ipynb_checkpoints/

# pytest
.pytest_cache/

# packaging
*.egg-info/
build/
dist/

# macOS
.DS_Store

# Coverage
.coverage
htmlcov/

# VSCode
.vscode/

# mypy / pyright
.mypy_cache/
.pyright/
